<?xml version="1.0"?>
<!-- Configuration file for ML-Experimentation-Analysis on Provider side fairness on recommendation algos
	 Expt 05:  Item KNN on ML dataset-->

<librec-auto>
	<random-seed>202001</random-seed>
	<thread-count>1</thread-count>
	<library src="system">default-algorithms.xml</library>
	
	<!-- DATA SECTION -->
	<data>
		<data-dir>../data</data-dir>
		<format>UIR</format>
		<data-file format="text">Veena_ML26_rating.csv</data-file>
	</data> 
	
	<!-- FEATURES SECTION -->
	<features>
		<appender-class>net.librec.data.convertor.appender.ItemFeatureAppender</appender-class>
		<item-feature-file>Veena_ML26_membership_file.csv</item-feature-file>
	</features>
	
	<!-- SPLITTER SECTION -->
	<splitter>
		<model count="3">kcv</model>
		<dim>userfixed</dim>
		<ratio>0.8</ratio>
		<save>true</save>
	</splitter>
	
	<!-- ALGORITHM SECTION -->
	<!-- Using Weighted-Regularized Matrix Factorization for experimentation purposes. -->
	<alg>   
		<class>itemknn</class>
		<!-- similarity>cos</similarity>
		<similarity type="*">item</similarity -->
		<similarity type="item">
                        <value>pcc</value>
        </similarity>
		<learn-rate>0.01</learn-rate>
		<iterator-max>100</iterator-max>
		<neighborhood-size>
			<value>10</value>
		</neighborhood-size>
		<shrinkage>
			<value>10</value>
		</shrinkage>
	</alg>

	<!-- METRICS SECTION -->
	<metric>
		<ranking>true</ranking>
		<list-size>10</list-size>
		<class>net.librec.eval.fairness.StatisticalParityEvaluator,net.librec.eval.fairness.DiscountedProportionalPFairnessEvaluator,net.librec.eval.ranking.ItemCoverageEvaluator,ndcg,recall,precision</class>
		<protected-feature>pro</protected-feature>
	</metric>
	
	<!-- POST-PROCESSING SECTION -->
	<post>
		<script lang="python3" src="system">
			<script-name>results_to_csv.py</script-name>
			<param name="option">all</param>
		</script> 

		<script lang="python3" src="system">
			<script-name>result_graphics.py</script-name>
			<param name="browser">true</param>
		</script> 
	</post> 
</librec-auto>
